*.prefs

NETTY-CHAT-API-BASE/.setting/**
NETTY-CHAT-API-BASE/target/**
NETTY-CHAT-API-BASE/.*

NETTY-CHAT-API-FRIENDS/.setting/**
NETTY-CHAT-API-FRIENDS/.*
NETTY-CHAT-API-FRIENDS/target/**

NETTY-CHAT-API-MESS/target/**
NETTY-CHAT-API-MESS/.setting/**
NETTY-CHAT-API-MESS/.*

NETTY-CHAT-echoClient/target/**
NETTY-CHAT-echoClient/.setting/**
NETTY-CHAT-echoClient/.*

NETTY-CHAT-ERUEKA/target/**
NETTY-CHAT-ERUEKA/.setting/**
NETTY-CHAT-ERUEKA/.*

NETTY-CHAT-echoServer/target/**
NETTY-CHAT-echoServer/.setting/**
NETTY-CHAT-echoServer/.*
